table, body{

     background-color: #F2F1EB;
    font-family: 'Roboto', sans-serif;
    color: #444;
    line-height: 1.5;
    width: 60%;
    margin: 0 auto;
    padding: 2% 0;
    color: rgb(140, 76, 8);
}
tr{
color: rgb(140, 76, 8);

}
th{
color: #444;
}
